header .navbar {
    background-color: bisque !important;
}

.navbar img {
    width: 80px;
    height: 80px;

}

.lea {
    margin-left: auto;
    margin-right: 3%;
}

.jumbotron {
    background-color: bisque;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.jumbotron img {
    width: 100%;
    height: 100%;

}



.mega-carousel {
    width: 100%;
}

.carousel-item img {
    height: 500px;
}

.carousel-caption {
    background-color: transparent;
}

.carousel-caption h5 {
    color: black;
    background-color: transparent;
}



.a div{
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    direction: rtl;
    justify-content: flex-end;
}

.card img{
    width: 250px;
    height: 250px;
}

form {
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.grupo {
    flex-direction: row;
    
}

.form-group {
    width: 45%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.form {
    margin-left: 50px;
}

.Super-carousel {
    width: 45%;
    margin-top: 80px;
    margin-left: auto;
    position:static;
}

button {
    background-color: transparent;
    border-color: transparent;
}

main {
    background-color: bisque;
}

.carousel-caption p {
    color: black;
    background-color: transparent;
}

div .Distancia {
    margin-top: 50px;
    background-color: bisque;

}



.form {
    border-radius: 2px black;
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}


.container {
    color: white;
    background-color: black;
}

.container p {
    background-color: black;
}

footer {
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.Informacion {
    background-color: black;
}

h4 {
    background-color: black;
}

.info {
    background-color: black;
    display: inline-block;
    height: 40%;
    width: 40%;
}

.info a {
    color: white;
    background-color: black;
    text-decoration: none !important;
}

b {
    background-color: black;
}

.info p {
    margin-top: 2px !important;
}

.arriba {
    padding-right: 40px;
}

.container-redes {
    box-sizing: border-box;
    justify-content: center;
}

.container-redes ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;

}

.carousel-caption a {
    text-decoration: none !important;
}

:root {
    --Facebook: #3b5999;
    --Instagram: #e4405f;
    --Twitter: #55acee;
    --Whatsapp: #0dfd35;
}

.container-redes a {
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: .2s;
}

.container-redes ul:hover {
    filter: blur(2px);
}

.container-redes ul li a:hover {
    transform: translateY(.3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
    filter: none;
}

.container-redes ul li .Instagram:hover {
    background: var(--Instagram);
}

.container-redes ul li .Twitter:hover {
    background: var(--Twitter);
}

.container-redes ul li .Facebook:hover {
    background: var(--Facebook);
}

.container-redes ul li .Whatsapp:hover {
    background: var(--Whatsapp);
}

ul {
    background-color: black;
    color: black;
}

li {
    background-color: black;
    display: inline-block;
    margin: 0, 0;
}